@import colors, vars
.window
  background-color: gray
  border: 1px solid $border-color
  display: grid
  grid-template-rows: auto 1fr
  header
    background-color: $header-hight
    color: $header-font
    padding-left: $gap
  .content
    background-color: $content-hight
    color: $content-font
    padding: $gap
    *
      font-size: 0.8rem
